@import './base.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Questrial';
  outline: none;
  list-style: none;
  text-decoration: none;
}

*:disabled {
  background-color: #badcca !important;
}

body {
  background-color: #f4f6f8;
}
